<div class="fluid-container">
  <div
    class="row"
    style="background-color: #f7f8fa; width: 100%; height: 100vh"
  >
    <div class="col-md-3 w-25 p-3 align-center">
      <div class="text-black pb-3 text-left">
        <h4 style="color: rgb(94, 94, 94)">TODO</h4>
      </div>
      <div
        class="card card-block"
        style="
          background: #ffffff;
          mix-blend-mode: normal;
          border: 1px solid #f7f8fa;
          box-shadow: 0px 4px 7px rgba(207, 207, 207, 0.5);
          border-radius: 4px;
        "
      >
        <div class="card-body">
          <div class="row d-flex flex-row justify-content-between">
            <div
              class="col-md-6 d-flex justify-content-start align-items-start"
            >
              <h6 class="card-title">ID: HU220001</h6>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-end">
              <h6 class="card-title" style="color: rgb(128, 128, 128)">
                31/01/2022
              </h6>
            </div>
          </div>
          <div class="pb-3">
            <h5 class="card-title pt-3">Lorem Ipsum</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <div class="row d-flex flex-row justify-content-center">
            <div
              class="col-md-6 d-flex flex-row justify-content-start align-items-start"
            >
              <div class="d-flex justify-content-start align-items-start">
                <img
                  class="bx bxl-mailchimp"
                  style="
                    width: 40px;
                    height: 40px;
                    background-color: #eee;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 39px;
                  "
                />
              </div>
              <div class="pt-2" style="padding-left: 10px">
                <p>Arjun Rawat</p>
              </div>
            </div>
            <div
              class="col-md-6 d-flex flex-row justify-content-end align-items-center"
            >
              <div class="badge">
                <span
                  style="
                    background-color: #eee;
                    width: 60px;
                    height: 25px;
                    padding-bottom: 3px;
                    border-radius: 5px;
                    display: flex;
                    color: #000000;
                    justify-content: center;
                    align-items: center;
                  "
                  >High</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
